* {
  background-color: #13442e;
}
h1 {
  text-align: center;
  font-family: arial;
  color: white;
}

h4 {
  font-family: monospace;
  color: white;
  font-size: 25px;
  background-color: black;
  width: 30%;
  text-align: center;
}

a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: lightgray;
}

a:focus {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
}

.campeones {
  /* border: solid 2px white; */
}

#fixequcam {
  width: 40%;
  text-align: center;
  background-color: #95c87f;
  table-layout: fixed;
  margin-left: 50%;
}

#fixequcam ul li a {
  color: white;
}

table {
  table-layout: fixed;
  width: 50%;
  color: black;
  font-family: arial;
  border: 1px solid white;
}

.campeones td{
  background-color: white;
}

strong {
  background-color: white;
}

i {
  background-color: white;
}
