ul{
  list-style-type: none;
  text-decoration-color: none;
}

.arg {
  color: white;
  background: rgb(117, 170, 219);
}

a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: lightgray;
}

a:focus {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
}

#qatar{
  text-align: center;
}

h1{
  font-family: arial;
  border:;
  text-align: center;
  color: white;
}

h2{
  color: white;
  font-family: arial;
  text-align: center;
}

h3{
  color: white;
  font-size: 10pt;
  font-family: arial;
  text-align: center;
}

h4 {
  font-family: monospace;
  color: white;
  font-size: 25px;
  background-color: black;
  width: 10%;
  text-align: center;
}

h5 {
  font-family: monospace;
  color: white;
  font-size: 20px;
  background-color: #550017;
}

h6 {
  color: white;
  font-size: 12pt;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  background-color: #033819;
}

.matches {
  border: 1px solid black;
  background-color: #E5E5E5;
  width: 20%;
  margin: auto;
}

.fechas {
  display: flex;
}

input {
  color: black;
  font-family: cursive;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 10px;
}

.button {
  background-color: #640827;
  border-color: #640827;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.button:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.button:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

.goles {
  background-color: #B1ECF7;
}

form {
  font-family: arial;
  font-weight: bold;
  color: black;
}


table {
  table-layout: fixed;
  width: 60%;
  border: 1px solid white;
  color: white;
  font-family: arial;
}

.abcdefgh {
  table-layout: fixed;
}

#fixequcam {
  width: 40%;
  text-align: center;
  background-color: #95c87f;
  table-layout: fixed;
}

#fixequcam ul li a {
  color: white;
}

#gruposselec tr td a {
  color: #8bdaf4;
}

#gruposselec {
  width: 30%;
  table-layout: fixed;
}

.grupos td {
  border: 1px solid white;
  font-size: 10pt;
  width: 40;
}

table tr {
  text-align: center;
}

.llaves {
  display: flex;
}

.cruces {
  display: flex;
  flex-direction: row;
}

.cuartos {
  margin-top: 5%;
  margin-left: 2%;
}

.semis {
  margin-top: 7.5%;
  margin-left: 2%;
}

.final {
  margin-top: 8.75%;
  margin-left: 2%;
}

.terPuesto {
  margin-top: 15%;
  margin-left: 2%;
}

#horario {
  background-color: green;
  margin-right: 43%;
  margin-left: 43%;
}

body {
  background-color: #13442e;
}
